nav{
    display:flex;
    justify-content: space-between;
}
#title{
    font-size: 3rem;
}
#text{
    font-size:1.35rem;
    margin: 1rem 10rem;
    text-align: center;

}
#main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100vw;
    height:100vh;
    max-width: 100rem;
    margin: 0 auto;
}
button{
    font-size: 1.35rem;
    padding: 1rem 0;
    width: 15rem;
    text-align: center;
    margin-bottom: 2rem;
    color: white;
    background-color: purple;
    border-radius: 8px;
}
